/*
 * ============================================================
 * NanoHIV-DR
 * ============================================================
 *
 * Nextflow configuration
 *
 * Pipeline:
 *
 * POD5
 *   ↓
 * Dorado Basecalling
 *   ↓
 * Dorado Demultiplexing
 *   ↓
 * SanitizeMe
 *   ↓
 * NanoQ
 *   │
 *   ├──→ MEDAKA
 *   │      ↓
 *   │   Consensus FASTA
 *   │      ↓
 *   │   Consensus checkpoint / Reporting
 *   │
 *   ├──→ MINIMAP2
 *   │      ↓
 *   │   BAM + BAI
 *   │
 *   └──→ CODFREQ
 *          ↓
 *      Codon-frequency results
 *
 *
 * FAILURE BEHAVIOUR
 *
 * The three downstream arms are independent.
 *
 * If one arm fails:
 *
 *     MEDAKA       FAILED
 *     MINIMAP2     SUCCESS
 *     CODFREQ      SUCCESS
 *
 * the successful arms are allowed to finish.
 *
 * The overall Nextflow run is still reported as FAILED.
 *
 * ============================================================
 */


/*
 * ============================================================
 * Pipeline parameters
 * ============================================================
 */

params {

    /*
     * --------------------------------------------------------
     * Pipeline input
     * --------------------------------------------------------
     */

    pod5 = null


    /*
     * Stage 2 reporting inputs
     * --------------------------------------------------------
     */

    consensus = null

    metadata = null


    /*
     * --------------------------------------------------------
     * Output directory
     * --------------------------------------------------------
     */

    outdir = "${baseDir}/results"


    /*
     * --------------------------------------------------------
     * General resources
     * --------------------------------------------------------
     */

    threads = 8


    /*
     * --------------------------------------------------------
     * Dorado device
     * --------------------------------------------------------
     *
     * Examples:
     *
     *     auto
     *     cpu
     *     cuda:0
     *
     * --------------------------------------------------------
     */

    device = "auto"


    /*
     * ========================================================
     * DORADO
     * ========================================================
     */

    dorado_model =
        "dna_r10.4.1_e8.2_400bps_sup@v5.2.0"

    kit_name =
        "SQK-NBD114-96"


    /*
     * ========================================================
     * NANOQ
     * ========================================================
     */

    min_quality = 15

    min_length = 800

    max_length = 1200


    /*
     * ========================================================
     * HUMAN REFERENCE
     * ========================================================
     */

    human_ref =
        "${baseDir}/references/Human/human_g1k_v37.fasta"


    /*
     * ========================================================
     * HIV REFERENCE
     * ========================================================
     */

    hiv_ref =
        "${baseDir}/references/HIV/HXB2-pol.fasta"

    hiv_index =
        "${baseDir}/references/HIV/HXB2-pol.mmi"


    /*
     * ========================================================
     * MEDAKA
     * ========================================================
     */

    medaka_model =
        "r1041_e82_400bps_sup_v5.2.0"


    /*
     * ========================================================
     * CODFREQ
     * ========================================================
     */

    codfreq_profile =
        "${baseDir}/references/HIV/HIV1.json"


    /*
     * ========================================================
     * REPORTING
     * ========================================================
     */

    hiv_alignment =
        "${baseDir}/references/HIV/HIV_aligned_references.fasta"


    /*
     * ========================================================
     * METADATA
     * ========================================================
     */

    metadata_id_column =
        "sample_id"
}


/*
 * ============================================================
 * Docker
 * ============================================================
 */

docker {

    enabled = true
}


/*
 * ============================================================
 * Default process configuration
 * ============================================================
 *
 * IMPORTANT:
 *
 * errorStrategy = 'finish'
 *
 * allows independent processes to continue after a failure.
 *
 * Do NOT change this to:
 *
 *     errorStrategy = 'terminate'
 *
 * if you want Medaka, Minimap2 and CodFreq to operate
 * independently.
 *
 * ============================================================
 */

process {

    container = "nanohiv-dr-cpu:latest"

    cpus = 8

    errorStrategy = "finish"

    shell = ["/bin/bash", "-c"]
}


/*
 * ============================================================
 * Work directory
 * ============================================================
 */

workDir = "${baseDir}/work"


/*
 * ============================================================
 * DORADO BASECALL
 * ============================================================
 */

process {

    withName: DORADO_BASECALL {

        cpus = 8

        memory = "16 GB"

        time = "12h"

        errorStrategy = "finish"
    }
}


/*
 * ============================================================
 * DORADO DEMULTIPLEX
 * ============================================================
 */

process {

    withName: DORADO_DEMUX {

        cpus = 4

        memory = "8 GB"

        time = "4h"

        errorStrategy = "finish"
    }
}


/*
 * ============================================================
 * SANITIZEME
 * ============================================================
 */

process {

    withName: SANITIZEME {

        cpus = 8

        memory = "16 GB"

        time = "12h"

        errorStrategy = "finish"
    }
}


/*
 * ============================================================
 * NANOQ
 * ============================================================
 */

process {

    withName: NANOQ {

        cpus = 8

        memory = "8 GB"

        time = "4h"

        errorStrategy = "finish"
    }
}


/*
 * ============================================================
 * MEDAKA
 * ============================================================
 *
 * MEDAKA receives NanoQ FASTQ directly.
 *
 * Failure of Medaka does NOT terminate:
 *
 *     MINIMAP2
 *     CODFREQ
 *
 * ============================================================
 */

process {

    withName: MEDAKA {

        cpus = 8

        memory = "16 GB"

        time = "12h"

        errorStrategy = "finish"
    }
}


/*
 * ============================================================
 * MINIMAP2
 * ============================================================
 *
 * MINIMAP2 receives NanoQ FASTQ directly.
 *
 * Failure of Minimap2 does NOT terminate:
 *
 *     MEDAKA
 *     CODFREQ
 *
 * ============================================================
 */

process {

    withName: MINIMAP2 {

        cpus = 8

        memory = "16 GB"

        time = "8h"

        errorStrategy = "finish"
    }
}


/*
 * ============================================================
 * CODFREQ
 * ============================================================
 *
 * CODFREQ receives NanoQ FASTQ directly.
 *
 * Failure of CodFreq does NOT terminate:
 *
 *     MEDAKA
 *     MINIMAP2
 *
 * ============================================================
 */

process {

    withName: CODFREQ {

        cpus = 8

        memory = "16 GB"

        time = "8h"

        errorStrategy = "finish"
    }
}


/*
 * ============================================================
 * CONSENSUS CHECKPOINT
 * ============================================================
 */

process {

    withName: CHECKPOINT_CONSENSUS {

        cpus = 2

        memory = "4 GB"

        time = "1h"

        errorStrategy = "finish"
    }
}


/*
 * ============================================================
 * METADATA VALIDATION
 * ============================================================
 */

process {

    withName: VALIDATE_METADATA {

        cpus = 2

        memory = "2 GB"

        time = "1h"

        errorStrategy = "finish"
    }
}


/*
 * ============================================================
 * REPORT
 * ============================================================
 */

process {

    withName: REPORT {

        cpus = 4

        memory = "8 GB"

        time = "4h"

        errorStrategy = "finish"
    }
}


/*
 * ============================================================
 * NEXTFLOW REPORTING
 * ============================================================
 */

timeline {

    enabled = true

    file = "${baseDir}/results/pipeline_info/timeline.html"
}


report {

    enabled = true

    file = "${baseDir}/results/pipeline_info/execution_report.html"
}


trace {

    enabled = true

    file = "${baseDir}/results/pipeline_info/trace.txt"
}


dag {

    enabled = true

    file = "${baseDir}/results/pipeline_info/pipeline_dag.html"
}


/*
 * ============================================================
 * General execution settings
 * ============================================================
 */

cleanup = false
